/* styles.css */

.vbox-style {
    -fx-border-color: black;
    -fx-border-width: 2;
    /* -fx-border-radius: 1rem; */
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-padding: 10;
    -fx-background-color: #adecbe; /* Light gray background */
    -fx-background-insets: 5; /* Space between border and background */
    -fx-spacing: 10; /* Space between children */
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.main{
    -fx-overflow-x: scroll;
}

.page{
    -fx-min-width: 800px;
    /* -fx-width: 800px; */
    -fx-background-color:#adecbe;
}